
<div class="note-@status">
    <i class="ph-@status"></i>
    &nbsp; @text
</div>


@code {
    [Parameter]
    public string? text { get; set; }
    [Parameter]
    public string? status { get; set; }
}
 